<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">

    <img src="assets/img/logoapp.png" alt="Logo" class="app-logo" />

    <!-- Formulario de Iniciar Sesión -->
    <form>

      <h1>Cambie Su contraseña</h1>

      <ion-item class="form-item">
        <ion-input [(ngModel)]="contra" name="contra" label="Contraseña" labelPlacement="floating"
          placeholder="Ingrese nueva contraseña" type="password"></ion-input>
      </ion-item>
      <ion-item class="form-item">
        <ion-input [(ngModel)]="repetircontra" name="repetircontra" label="Repetir Contraseña" labelPlacement="floating"
          placeholder="Ingrese nueva contraseña nuevamente" type="password"></ion-input>
      </ion-item>
      
      <ion-button expand="full" style="--background: #dfaa64;" (click)="CambiarContra()">Cambiar contraseña</ion-button>

    </form>




  </div>
</ion-content>