<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="container">

    <h1>Modificar Usuario</h1>

    <form>
      <ion-item class="form-item">
        <ion-input
          label="Usuario"
          labelPlacement="floating"
          [(ngModel)]="usuario"
          name="username"
          placeholder="Ingrese el usuario"
          
        ></ion-input>
      </ion-item>
  
      <ion-item class="form-item">
        <ion-input
          label="Email"
          labelPlacement="floating"
          [(ngModel)]="correo"
          name="email"
          placeholder="Ingrese el email"
          
        ></ion-input>
      </ion-item>
  
      <ion-item class="form-item">
        <ion-input
          label="Contraseña"
          type="password"
          labelPlacement="floating"
          [(ngModel)]="contrasena"
          name="password"
          placeholder="Ingrese la contraseña"
          
        ></ion-input>
      </ion-item>
  
      <ion-item class="form-item">
        <ion-input
          label="Repetir Contraseña"
          type="password"
          labelPlacement="floating"
          [(ngModel)]="contrasenaR"
          name="passwordR"
          placeholder="Repita la contraseña"
          
        ></ion-input>
      </ion-item>
  
      <ion-button
        shape="round"
        expand="full"
        style="--background: #dfaa64;"
        type="submit"
        (click)="ModificarPerfil()"
        >Cambiar</ion-button
      >
      
    </form>
    <div class="container-p">
      <p *ngIf="correoValido">-Ingrese un correo válido</p>
      <p *ngIf="contraValida">-La contraseña debe tener al menos 8 caracteres, incluyendo una mayúscula, una minúscula, un número y un carácter especial.</p>
      <p *ngIf="contraIgual">-Las contraseñas no coinciden, intentelo nuevamente.</p>
      <p *ngIf="contraMisma">-No puede usar datos de su usuario anterior</p>
    </div>
  </div>
</ion-content>
