//Estilos para dejar centrados la portada y los botones
.portada-centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .boton-centrado {
    text-align: center;
    margin-top: 10px; 
  }